* {
  font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 240, 240);
}
table {
  width: 100%;
  align-items: center;
  margin: auto;
  padding: auto;
}

td {
  padding: 30px;
  margin: 30px;
}

.video-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: auto;
}

td.video-embed {
  align-items: center;
  width: 560;
  height: 315;
}

.final {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 15px;
}
